# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# Data files
*.csv
*.zip
*.xlsx

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
